* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #29292E;
}

#page {
    background-color: #ffffff;
    max-width: 90%;    
    margin: 40px auto;    
    padding: 40px;
    border-radius: 15px; 
}



