* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #29292E;
}

#page {
    background-color: #ffffff;


    max-width: 1400px; 

    margin: 40px auto;
    padding: 40px;
    border-radius: 15px; 
}

.intro {
    text-align: center; 
}

.intro p + p {
    color: red;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
    padding-top: 80px;
}

.intro img {
    width: 100%;  

    
    max-width: 1200px; 

    border-radius: 15px;
    display: block;
    margin: 20px auto;
}


.intro .content {
    max-width: 1200px; 
    margin: 0 auto;
    text-align: left;
}

.intro .content p:has(+ h1) {
    color: rgb(253, 0, 0);
}

.intro img + p {
    max-width: 1200px; 
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
    color: #333333;
}

hr {
    color: #333333;
    max-width: 80%;
    margin: 0 auto;
}

.destinations {
    text-align: center;
}


.destinations .content p:first-of-type {
    color: red;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
    padding-top: 80px;
}

.destinations .content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}

.destinations .content h2 {
    margin-bottom: 25px; 
}

.destinations img {
    width: 100%;
    max-width: 1200px;
    border-radius: 15px;
    display: block;
    margin: 20px auto;
}


.destinations .card {
    max-width: 1200px;
    margin: 50px auto; 
    text-align: left;
}


.destinations .card img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px; 
}


.destinations .card h3 {
    font-size: 26px;      
    margin-bottom: 15px;  
    color: #111;          
}


.destinations .card p {
    margin-bottom: 12px;   
    line-height: 1.6;     
}


.destinations .card p:nth-of-type(2) {
    margin-top: 15px;
    font-weight: bold;
}

.destinations .card ul {
    margin-left: 20px;
    margin-bottom: 10px;
}

.destinations .card li.historia {
    color: #007bff; 
    font-weight: bold;
}

.destinations .card li.casais {
    color: #9b4dff;
    font-weight: bold;
}

.destinations .card li.familias {
    color: #ff4db8;
    font-weight: bold;
}


.destinations .card li.orcamento {
    color: #ff8c00;
    font-weight: bold;
}

#page hr + p {
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
    padding-bottom: 20px;
    color: #333;
    font-size: 18px;
    line-height: 1.6;
}


footer {
    color: #000000;
    text-align: center;
    padding-bottom: 48px;
}

footer img {
    vertical-align: middle;
}

